.app-body {
    display: flex;
    height: 100vh;
    position: relative;
}

.main {
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
    overflow-y: auto;
    height: auto;
    width: 100%;
}

.navbar {
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px var(--bs-border-style) #e5e7eb ;
    padding-left: 30px ;
    padding-right: 15px ;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 53%; /* Posiciona al 50% desde arriba */
    left: 50%; /* Posiciona al 50% desde la izquierda */
    transform: translate(-50%, -50%);
    margin-top: 1%;
    
    object-fit: none; /* Muestra la imagen tal cual sin escalar */
}

#hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-search {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 70px;
}

.btn-outline-secondary {
    padding-top: 8px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
    font-size: 0.875rem !important;
}

.btn-outline-secondary:hover {
    background-color: #e5e7eb;
    color: black;
}

.btn-outline-secondary:active {
    background-color: #e5e7eb !important;
    color: black !important;
}

.btn-outline-secondary, .form-control{
    border-style: none;
    background-color: white;
}

.form-control{
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 18px;
    color: #e5e7eb;
    font-weight: 300 !important;
}

.form-control:focus{
    outline:none ;
    outline-width: 0 ;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.border {
    box-shadow: 0px 4px 3px -1px rgba(212,212,212,0.33);
    border-color: #e5e7eb !important;
    border-radius: 0.450rem;
}

.btn-search {
    cursor: pointer;
}

.btn-search:hover, .btn-search:active, .btn-search:focus{
    border: none;
}

@media (min-width: 1400px) {
    .container-search {
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 110px;
    }

    .font-xl {
        font-size: 3rem !important;
    }

    .font-sm {
        font-size: 1.05rem !important;
    }
}