---
import logo from '../assets/logo.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>UnplashBox Images Collections</title>
	</head>
	<header class="navbar navbar-primary d-flex justify-content-beetwen">
		<div class="d-flex justify-content-start">
			<a class="navbar-brand" href="#">
				<img src={logo.src} alt="" width="130" height="50">
			</a>
		</div>
		<div class="d-flex justify-content-end">
			<button class="font-lg font-bevietnampro-medium btn btn-outline-secondary" type="button">Home</i></button>
			<button class="font-lg font-bevietnampro-medium btn btn-outline-secondary" type="button">Collections</i></button>
		</div>
	</header>
	<body class="app-body">
		<main class="main">
			<div id="mainDiv" class="container-fluid">
				<slot />
			</div>
		</main>
	</body>
</html>
